/**
 * @name Teoran Alphabet
 * @author Courrite
 * @version 1.0.0
 * @description Uses Teoran Alphabet and sets the Moon Tech logo as the home icon from GeoExe's Gwain Saga series.
 * @authorId 602215725335183364
 */

 @font-face {
  font-family: 'Teoran';
  src: url('https://raw.githubusercontent.com/Courrite/saga-font/main/teoran-font-v1-05.ttf') format('truetype'),
       url('https://raw.githubusercontent.com/Courrite/saga-font/main/teoran-font-v1-05.woff') format('woff'),
       url('https://raw.githubusercontent.com/Courrite/saga-font/main/teoran-font-v1-05.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

:root {
  --home-icon: url('https://i.imgur.com/DOCNDCl.png');
  --font: 'Teoran';
}
