/**
 * @name Teoran Alphabet
 * @author Courrite
 * @version 1.0.3
 * @description Uses Teoran Alphabet from GeoExe's Gwain Saga series.
 * @authorId 602215725335183364
 */

 @font-face {
  font-family: 'Teoran';
  src: url('https://github.com/Courrite/saga-font/blob/main/teoran-font-v1-05.ttf') format('truetype'),
       url('https://github.com/Courrite/saga-font/blob/main/teoran-font-v1-05.woff') format('woff'),
       url('https://github.com/Courrite/saga-font/blob/main/teoran-font-v1-05.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

:root {
  --font: 'Teoran', sans-serif;
}

:root {
  --font-primary: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-display: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
