/**
 * @name Teoran Alphabet
 * @author Courrite
 * @version 1.0.0
 * @description Uses Teoran Alphabet and set the Moon Tech logo as the home icon from GeoExe's Gwain Saga series.
 * @authorId 602215725335183364
*/

:root {
  --home-icon: url('https://i.imgur.com/DOCNDCl.png');
  --main-font: 'https://github.com/Courrite/saga-font/raw/main/teoran-font-v1-05.ttf?raw=1';
  --code-font: 'https://github.com/Courrite/saga-font/raw/main/teoran-font-v1-05.ttf?raw=1';
}
